@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  text-decoration: none;
}

#category {
  font-family: Staatliches;
  font-weight: 500;
}

#title {
  letter-spacing: 0.4px;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.13636;
}

#banner {
  margin: 20px;
  height: 800px;
}

#editor {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75;
}

.uk-navbar-container {
  background: #fff !important;
  font-family: Staatliches;
}

img:hover {
  opacity: 1;
  transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.timetable {
  display: grid;
  grid-template-columns: 50px auto auto 50px auto;
  border: 1px solid black;
}

.date {
  width: 20rem;
  width: 20%;
}

.subject {
  width: 40%;
}

.column {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.gridColumn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90vw;
}

.row {
  display: flex;
  flex-direction: row;
}
.border {
  border: 1px solid black;
}

.day {
  display: flex;
  flex-direction: column;
}

.col-1 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.col-2 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.col-3 {
  grid-column-start: 3;
  grid-column-end: 4;
}

.col-4 {
  grid-column-start: 4;
  grid-column-end: 5;
}

.col-5 {
  grid-column-start: 5;
  grid-column-end: 6;
}
